@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

/* * {
  border: 1px solid red;
} */

/* * {
  color: rgb(255, 196, 0);
} */

html {
  scroll-behavior: smooth;
}

body {
  @apply bg-gray-950;
}
